body {
	font-family: 'Mallanna', sans-serif;
	background-color: #D1D8E1;
}

h1 {
	font-weight: 800;
	text-align:center;
	font-size: 4rem;
	
	font-family: 'Gayathri', sans-serif;
	letter-spacing: 3px;
	margin-bottom: .5rem;
}

hr {
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	width: 40%;
	margin-bottom: .5rem;
}

footer {
	text-align: center;
	padding: 3rem;
	color: #B2B2B2;
}

a {
	color: #B2B2B2;
}

a:hover {
	color: #B2B2B2;
}

input {
	width: 50px;
}

input[type="number"]
{
	border-radius: 3px;
    border: 1px solid #dbdbdb;
    padding-left: 9px;
}

.btn-primary {
	width: 50px;
	border-radius: 20px;
	border-color: #7A54BC;
	background-color: #7A54BC;
}

.btn-primary:hover {
	color: #7A54BC ;
	background-color: white;
	border-color: #7A54BC;
}

.jumbotron {
	background-image: url(https://images.unsplash.com/photo-1462332420958-a05d1e002413?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1640&q=80);
	background-position-y: center;
	color: white;
	border-radius: 0;
	background-size: cover;
	height: 200px;
	text-shadow: 3px 3px 3px rgba(0,0,0, 0.4);
	overflow: hidden;
}
.card {
	border-radius: 10px;
}
.card-body {
	padding: 3rem 5rem;
}

.hideMe {
	display: none;
}

#header {
	text-align: center;
}


#questions {
	float: left;
	text-align: right;
}

.inputs {
	float: left;
	margin-left: 20px;
}

#line {
	width: 100%;
	margin: 1rem;
}

#subtitle {
	font-size: 18px;
}
/*
#centerMe 
{
	margin: 0% 35% 0% 50%;
}
*/


@media screen and (min-width: 1200px)
{
	.container {
		max-width: 900px;
	}
	
}

@media screen and (max-device-width: 480px)
{
	.jumbotron {
		height: 450px;
		margin-bottom:0;
	}
	h1 {
		font-size: 125px;
	}

	#subtitle {
		font-size: 28px;
	}

	.container {
		max-width: 100%;
		padding: 0;
	}

	.card {
		padding:0;
		margin:0;
		border-radius: 0px;
	}

	.card-body{
		margin: auto;
	}

	#questions {
		font-size: 30px;
	}

	input[type="number"]{
		margin-bottom: 16px;
		height: 40px;
		width: 90px;
		margin-bottom: 16px;
		padding: 2px 2px 2px 20px;
		font-size: 24px;
	}

	input[name="text_type"] {
		height: 1.5rem;
		width: 100%;
		margin-bottom: 25px;
	}


	.inputs {
		margin-left: 30px;
		margin-bottom: 0;
	}

	#submit {
		margin:auto;
		height: 70px;
		width: 100%;
	}

	i
	{
		font-size: 30px;
	}

	#paragraphs {
		font-size: 25px;
	}

	footer{
		font-size: 25px;
	}
}